*,
*:before,
*:after {
  box-sizing: border-box;
}
form{
  border-radius: 5px;
  font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
	margin: 0 auto;
	max-width: 1250px;
	width: 100%;
	margin-top: 30px;
	line-height: 2.0;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}
li {
  list-style-type: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input {
  border-radius: 5px;
  font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 15px;
}
h1{
	text-align: center;
}
.search button[type=submit]{
  margin: 15px;
  margin-top: 30px;
  width: 230px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  background: #234361;
  padding: 0;
}
.search input[type=button]{
	margin: 15px;
	margin-top: 30px;
	width: 230px;
	height: 40px;
	border: none;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	background: #234361;
}
.button-back{
  font-weight: 700;
  text-decoration: none;
  color: #234361;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  display: inline-block;

  border-width: 2px;
  border-color: #234361;
  border-style: solid;
  border-radius: 50px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
  padding-right: 17px;

  transition: 0.2s ease-out;
}
@media print and (monochrome) { 
	body { 
		font-family: Times, 'Times New Roman', serif; 
	}
	h1 { 
		color: black; 
	}
}
@media print{
	button{
		display: none;
	}
	input{
		display: none;
	}
}

.el_none{
  display: none;
}
